jupyter
descartes
tqdm==4.36.1
requests
pandas==1.1.3
geopandas==0.8.1
shapely
folium==0.10.0
mapclassify
networkx==2.5
osmnx==0.14.1
overpy
geopy
sklearn
seaborn
rtree
keplergl==0.1.2
overpass==0.6.1